<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cnxucheng.xcoj.mapper.ContestMapper">

    <resultMap id="BaseResultMap" type="com.github.cnxucheng.xcoj.model.entity.Contest">
            <id property="contestId" column="contestId" />
            <result property="contestTitle" column="contestTitle" />
            <result property="contestDescription" column="contestDescription" />
            <result property="beginTime" column="beginTime" />
            <result property="endTime" column="endTime" />
            <result property="userId" column="userId" />
            <result property="isVisible" column="isVisible" />
    </resultMap>

    <sql id="Base_Column_List">
        contestId,contestTitle,contestDescription,beginTime,endTime,userId,
        isVisible
    </sql>
</mapper>
