<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cnxucheng.xcoj.mapper.SubmissionMapper">

    <resultMap id="BaseResultMap" type="com.github.cnxucheng.xcoj.model.entity.Submission">
            <id property="submissionId" column="submissionId" />
            <result property="userId" column="userId" />
            <result property="problemId" column="problemId" />
            <result property="lang" column="lang" />
            <result property="code" column="code" />
            <result property="judgeResult" column="judgeResult" />
            <result property="usedTime" column="usedTime" />
            <result property="usedMemory" column="usedMemory" />
            <result property="createTime" column="createTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        submissionId,userId,problemId,lang,code,
        judgeResult,usedTime,usedMemory,createTime,isDelete
    </sql>
</mapper>
